/Alphabet1.class
/Alphabet2.class
/AmdocsStarprogram.class
/ArrayInReverseOrder.class
/ArraysEqualOrnot.class
/AscendingOrderArray.class
/DesecdingArray.class
/DuplicateElements.class
/Fcatorial.class
/Fibbonaci.class
/LargestElement.class
/Number3.class
/NumberOfDigitsinNumber.class
/NumberPalendrome.class
/NumberSeries.class
/PlindormeString.class
/RemoveallWhiteSpaces.class
/ReverseRighhtTringle.class
/ReverseTheString.class
/SeperateChars.class
/SumOfdigits.class
/SwappingTwoNumbers.class
