/PrintEvenLengthwords.class
/RemoveallWhiteSpaces.class
/ReplaceaawithChar.class
/ReverseTheString.class
/SeperateChars.class
/Splitstring.class
/StringAllMethods.class
/StringBufferMethods.class
/TotalNumberChar.class
/TotalPunctionsInstring.class
